body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("https://www.minecraft.net/content/dam/games/minecraft/key-art/Minecraft_HP-Promo_XGP-PC_600x360.jpg");
  background-size: cover;
}
button {
  font-size: 24px;
  padding: 10px 20px;
